axonius-assessment/force-app/main/default/flows/Calculate_Pet_Owner_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_totals_to_owners_contact_record</name>
        <label>assign totals to owners contact record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rv_PetOwnerContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PetOwnerContact.Number_of_Pets__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_pets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PetOwnerContact.Number_of_Dogs__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Dogs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PetOwnerContact.Number_of_Cats__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Cats</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_PetOwnerContact.Number_of_Birds__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Birds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_pet_owner_totals</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Birds</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Birds</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Copy_2_of_Dogs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_pets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_2_of_Dogs.Species__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Bird</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_totals_to_owners_contact_record</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Cats</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Cats</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Copy_2_of_Dogs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_pets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_2_of_Dogs.Species__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Cat</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Birds</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Dogs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Dogs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Copy_2_of_Dogs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_pets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_2_of_Dogs.Species__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Dog</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Cats</targetReference>
        </connector>
    </collectionProcessors>
    <description>Count the number of dogs, cats, birds, and all pets for a owner.</description>
    <environments>Default</environments>
    <interviewLabel>Calculate Pet Owner Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Pet Owner Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get all the pets for a owner.</description>
        <name>get_pets</name>
        <label>get pets</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pet_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_pet_owner_totals</name>
        <label>update pet owner totals</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <inputReference>rv_PetOwnerContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_pets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Copy_2_of_Dogs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pet__c</objectType>
    </variables>
    <variables>
        <description>Contact Id of the Pet Owner.</description>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rv_PetOwnerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
