axonius-assessment/force-app/main/default/flows/New_Pet_Calculate_Owner_Totals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>605</locationX>
        <locationY>384</locationY>
        <actionName>System_Task</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Is_the_Pet_Trainer_Provided</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Label.System_Task_Queue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>fx_DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Assign Owner</stringValue>
            </value>
        </inputParameters>
        <nameSegment>System_Task</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_Trainer</name>
        <label>Assign Trainer</label>
        <locationX>737</locationX>
        <locationY>600</locationY>
        <actionName>System_Task</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Label.System_Task_Queue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>fx_DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Assign Trainer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>System_Task</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_the_Pet_Owner_Provided</name>
        <label>Is the Pet Owner Provided?</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pet_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calculate_number_of_pets_owned</targetReference>
            </connector>
            <label>Owner Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Pet_Trainer_Provided</name>
        <label>Is the Pet Trainer Provided?</label>
        <locationX>605</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Assign_Trainer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trainer_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Trainer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Trainer Provided</label>
        </rules>
    </decisions>
    <description>calculates the total number of pets owned by the conatc pet owner and updates the oowner&apos;s contact record.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_DueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>New Pet - Calculate Owner Totals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Pet - Calculate Owner Totals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pet_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pet__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_the_Pet_Owner_Provided</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>calculate_number_of_pets_owned</name>
        <label>calculate number of pets owned</label>
        <locationX>209</locationX>
        <locationY>384</locationY>
        <flowName>Calculate_Pet_Owner_Number</flowName>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Pet_Owner__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
