axonius-assessment/force-app/main/default/flows/New_Pet_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_System_Task</name>
        <label>Create System Task</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <actionName>System_Task</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>get_ownerless_pets</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Label.System_Task_Queue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>fx_DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>rv_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Add Owners Pets</stringValue>
            </value>
        </inputParameters>
        <nameSegment>System_Task</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_pet_to_collection</name>
        <label>add pet to collection</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>rcv_NewOwnersPets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_Pet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_selected_pets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_existing_contact_details</name>
        <label>assign existing contact details</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rv_Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pet_Owners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_owner_and_trainer_to_pet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_and_trainer_to_pet</name>
        <label>assign owner and trainer to pet</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>rv_Pet.Pet_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Pet.Primary_Trainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Pet.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relate_contact_to_triggering_pet_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Pet_Owner_contact_details</name>
        <label>assign Pet Owner contact details</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rv_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Contact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Hp000001Yv4rIAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Veterinarian_Office</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Pet_Owner_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_new_contact_as_the_selected_pets_owner</name>
        <label>Assign the new contact as the selected pets owner</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rv_Pet.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_selected_pets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Pet.Pet_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_pet_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_was_this_flow_triggered</name>
        <label>How was this flow triggered</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_New_Pet_Owner_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pet_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_pet</targetReference>
            </connector>
            <label>Pet Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Pet_Owner</name>
        <label>New or Existing Pet Owner</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>assign_existing_contact_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Owner</defaultConnectorLabel>
        <rules>
            <name>New_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseExistingOwner_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Pet_Owner_contact_details</targetReference>
            </connector>
            <label>New Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>were_ownerless_pets_found</name>
        <label>were ownerless pets found?</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Ownerless_Pets_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue to Pet Table</defaultConnectorLabel>
        <rules>
            <name>No_Pets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ownerless_pets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Pets</label>
        </rules>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ownerless_Pets_screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Done</label>
        </rules>
    </decisions>
    <description>Create a new Pet Owner contact record. If there are existing pets then relate those existing pets to the Pet Owner contact record.</description>
    <dynamicChoiceSets>
        <name>rcs_PetOwners</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Pet_Owner_Contact_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_pet.Veterinarian__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_TrainerContactRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Hp000001Yv4wIAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_pet.Veterinarian__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_VeterinarianOffice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_pet.Veterinarian__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>due date of the system task created.</description>
        <name>fx_DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>New Pet Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Pet Owner</label>
    <loops>
        <name>loop_through_selected_pets</name>
        <label>loop through selected pets</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <collectionReference>PetsWithoutOwners_table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_new_contact_as_the_selected_pets_owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_pets_owner_to_the_new_contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Pet_Owner_Contact_Record</name>
        <label>create Pet Owner Contact Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>assign_owner_and_trainer_to_pet</targetReference>
        </connector>
        <inputReference>rv_Contact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_ownerless_pets</name>
        <label>get ownerless pets</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>were_ownerless_pets_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Veterinarian__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pet_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>rv_Pet.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pet__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_pet</name>
        <label>get pet</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Pet_Owner_Contact_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>relate_contact_to_triggering_pet_record</name>
        <label>relate contact to triggering pet record</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <inputReference>rv_Pet</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_pets_owner_to_the_new_contact</name>
        <label>update pets owner to the new contact</label>
        <locationX>1194</locationX>
        <locationY>1190</locationY>
        <inputReference>rcv_NewOwnersPets</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_New_Pet_Owner_Contact</name>
        <label>Copy 1 of New Pet Owner Contact</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_System_Task</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Pet_Owner_Information</name>
            <fieldText>Pet Owner Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Pet_Owner_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_UseExistingOwner_toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pet Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Existing</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>New</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Pet_Owner_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Veterinarian_Office</name>
                    <choiceReferences>rcs_VeterinarianOffice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Veterinarian Office</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Pet_Owner_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Mobile_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Trainer</name>
                    <choiceReferences>rcs_TrainerContactRecords</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Trainer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;If you do not see a trainer to assign then  close this window and create a Trainer Contact record.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Veterinarian_Information</name>
            <fieldText>Veterinarian Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Veterinarian_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Veterinarian_Information_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Pet_Owner_Contact_screen</name>
        <label>New Pet Owner Contact</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_Existing_Pet_Owner</targetReference>
        </connector>
        <fields>
            <name>Pet_Owner_Information</name>
            <fieldText>Pet Owner Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pet_Owner_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UseExistingOwner_toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UseExistingOwner_toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Pet_Owners</name>
                    <choiceReferences>rcs_PetOwners</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pet Owners</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UseExistingOwner_toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pet_Owner_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UseExistingOwner_toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UseExistingOwner_toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pet_Owner_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UseExistingOwner_toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Use Existing Pet Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>UnClick for New Patients</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Click Here</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Veterinarian_Information</name>
            <fieldText>Veterinarian Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Veterinarian_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Veterinarian_Office</name>
                    <choiceReferences>rcs_VeterinarianOffice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_pet.Veterinarian__c</elementReference>
                    </defaultValue>
                    <fieldText>Veterinarian Office</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Veterinarian_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Trainer</name>
                    <choiceReferences>rcs_TrainerContactRecords</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_pet.Primary_Trainer__c</elementReference>
                    </defaultValue>
                    <fieldText>Trainer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;If you do not see a trainer to assign then there are no Trainer Contacts at the Veterinarian Office.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Veterinarian_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ownerless_Pets_screen</name>
        <label>Ownerless Pets</label>
        <locationX>1194</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Done</backButtonLabel>
        <connector>
            <targetReference>loop_through_selected_pets</targetReference>
        </connector>
        <fields>
            <name>Pets_Without_an_Owner</name>
            <fieldText>Pets Without an Owner</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pets_Without_an_Owner_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PetsWithoutOwners_display</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 182, 36);&quot;&gt;You&apos;ve created a Contact record for a new Pet Owner! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Next Steps:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;1. Select all pets owned by {!First_Name} {!Last_Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;2. Click &quot;Add Pets&apos;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pets_Without_an_Owner_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PetsWithoutOwners_table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Pet__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pets</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>get_ownerless_pets</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e125&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Pet Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Species__c&quot;,&quot;guid&quot;:&quot;column-edf5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Species&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Breed__c&quot;,&quot;guid&quot;:&quot;column-e80b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Breed&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Age__c&quot;,&quot;guid&quot;:&quot;column-aac9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Age&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Add Pets</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_was_this_flow_triggered</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rcv_NewOwnersPets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pet__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rv_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rv_Pet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pet__c</objectType>
    </variables>
</Flow>
