axonius-assessment/force-app/main/default/flows/New_Pet_Schedule_Training_Sessions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_sessions_to_collection</name>
        <label>add sessions to collection</label>
        <locationX>550</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>rcv_TrainingSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_TrainingSession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcv_TrainingAttendee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_TrainingAttendee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_staged_record_count_to_the_size_of_the_session_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_session_details_to_attendee_record</name>
        <label>assign session details to attendee record</label>
        <locationX>374</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>rcv_TrainingAttendee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_TrainingAttendee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_new_session_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign starting variables for determining the training session details.</description>
        <name>assign_starting_variables</name>
        <label>assign starting variables</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>v_SessionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_SessionStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_the_number_of_sessions_required_is_equal_to_the_number_of_sessions_in_t</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_training_attendee_details</name>
        <label>assign training attendee details</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>rv_TrainingAttendee.Pet_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_TrainingAttendee.Species__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Species__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_TrainingAttendee.Training_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_new_session_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_TrainingAttendee.Trainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_new_session_Ids.Trainer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_session_details_to_attendee_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_training_session_details</name>
        <label>assign training session details</label>
        <locationX>550</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>rv_TrainingSession.Session_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_SessionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_TrainingSession.Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_LengthOfSession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_TrainingSession.Training_Package_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_TrainingType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_TrainingSession.Veterinarian__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Veterinarian__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_TrainingSession.Trainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Trainer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_sessions_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_staged_record_count_to_the_size_of_the_session_collection</name>
        <label>set staged record count to the size of the session collection</label>
        <locationX>550</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>v_StagedSessionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>rcv_TrainingSessions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Age</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_SessionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_NextSessionDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>check_if_the_number_of_sessions_required_is_equal_to_the_number_of_sessions_in_t</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_the_number_of_sessions_required_is_equal_to_the_number_of_sessions_in_t</name>
        <label>check if the number of sessions required is equal to the number of sessions in the collection</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>assign_training_session_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add another training session</defaultConnectorLabel>
        <rules>
            <name>Insert_Training_Sessions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_NumberOfTrainingSessionsRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>v_StagedSessionCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_training_sessions</targetReference>
            </connector>
            <label>Insert Training Sessions</label>
        </rules>
    </decisions>
    <description>When a new pet is registered at a veterinarian, create annual training sessions for all pets until they turn 7.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_LengthOfSession</name>
        <dataType>Number</dataType>
        <expression>IF ( {!v_Age} &gt;= 3, 30, 60 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_NextSessionDate</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS ( {!v_SessionDate}, 12 )</expression>
    </formulas>
    <formulas>
        <name>fx_NumberOfTrainingSessionsRequired</name>
        <dataType>Number</dataType>
        <expression>7 - FLOOR ( {!$Record.Age__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_SessionStartDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS ( {!$Record.CreatedDate}, 2 )</expression>
    </formulas>
    <formulas>
        <name>fx_TrainingType</name>
        <dataType>String</dataType>
        <expression>IF ( {!v_Age} &lt; 1, &apos;Potty Training&apos;, IF ( {!v_Age} &lt; 3, &apos;Charm&apos;, &apos;Aging&apos; ) )</expression>
    </formulas>
    <interviewLabel>fx_SessionDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Pet - Schedule Training Sessions</label>
    <loops>
        <name>Loop_through_new_session_Ids</name>
        <label>Loop through new session Ids</label>
        <locationX>286</locationX>
        <locationY>600</locationY>
        <collectionReference>rcv_TrainingSessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_training_attendee_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_training_session_attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_training_session_attendees</name>
        <label>create training session attendees</label>
        <locationX>286</locationX>
        <locationY>1008</locationY>
        <inputReference>rcv_TrainingAttendee</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_training_sessions</name>
        <label>create training sessions</label>
        <locationX>286</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Loop_through_new_session_Ids</targetReference>
        </connector>
        <inputReference>rcv_TrainingSessions</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Pet__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>assign_starting_variables</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rcv_TrainingAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Attendee__c</objectType>
    </variables>
    <variables>
        <name>rcv_TrainingSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Sessions__c</objectType>
    </variables>
    <variables>
        <name>rv_TrainingAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Attendee__c</objectType>
    </variables>
    <variables>
        <name>rv_TrainingSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Sessions__c</objectType>
    </variables>
    <variables>
        <name>v_Age</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Age__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_SessionDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_StagedSessionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
