axonius-assessment/force-app/main/default/flows/Pet_Owner_Assigned.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_id_to_collection</name>
        <label>assign id to collection</label>
        <locationX>138</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TrainingSessionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_attendee_records.Training_Session__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_attendee_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Pet_Owner_Assigned</name>
        <label>Was Pet Owner Assigned?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Was_Primary_Trainer_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Pet_Owner_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pet_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Owner_Assignment_Completed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pet Owner Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Primary_Trainer_Assigned</name>
        <label>Was Primary Trainer Assigned?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Primary_Trainer_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Trainer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_attendance_records</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Primary Trainer Assigned</label>
        </rules>
    </decisions>
    <description>This flow runs anytime a pets owner is assigned.</description>
    <environments>Default</environments>
    <interviewLabel>Pet Owner Assigned {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pet Owner Assigned</label>
    <loops>
        <name>loop_through_attendee_records</name>
        <label>loop through attendee records</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <collectionReference>get_attendance_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_id_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_trainer_to_session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_attendance_records</name>
        <label>get attendance records</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_attendee_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pet_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trainer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assign_trainer_to_session</name>
        <label>assign trainer to session</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TrainingSessionIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trainer__c</field>
            <value>
                <elementReference>$Record.Primary_Trainer__c</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Sessions__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Owner_Assignment_Completed</name>
        <label>Mark Owner Assignment Completed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Was_Primary_Trainer_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assign Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Pet_Owner_Assigned</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Pet_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Trainer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pet__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TrainingSessionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
